<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBI9TfPQi4CluVS7oRB1p03GCQ4tfshVAc</string>
	<key>GCM_SENDER_ID</key>
	<string>531537070392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.do20Application1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>do20-flutter-4ed7f</string>
	<key>STORAGE_BUCKET</key>
	<string>do20-flutter-4ed7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531537070392:ios:2c2d37a7b58d9455e3d9cd</string>
</dict>
</plist>